/* App.css */

/* General styles */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.light-mode {
  background-color: #f0f0f0;
  color: #333;
}

.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}

.content {
  flex: 1; /* Take up the remaining space */
}

section {
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px; /* Limit max-width for readability */
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: inherit;
  padding: 10px;
}

.navbar a {
  color: inherit;
  text-decoration: none;
  padding: 10px 20px;
}

.navbar a:hover {
  background-color: #00ffcc;
  color: #1a1a1a;
}

.toggle-button {
  background: none;
  border: 1px solid #00ffcc;
  color: inherit;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.toggle-button:hover {
  background-color: #00ffcc;
  color: #1a1a1a;
}

/* Footer styles */
footer {
  background-color: inherit;
  color: inherit;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: relative;
  bottom: 0;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar a {
    display: block;
    margin: 5px 0;
  }

  .skills-container {
    flex-direction: column;
    align-items: center;
  }

  .icon-background {
    margin: 10px 0;
  }

  .slideshow-container {
    width: 100%;
  }

  .text-box {
    padding: 10px;
    text-align: center;
  }

  h2, p {
    text-align: center;
  }
}

@media (max-width: 480px) {
  body, html {
    font-size: 14px;
  }

  .navbar {
    flex-direction: column;
    padding: 5px;
  }

  .navbar a {
    padding: 8px;
    font-size: 14px;
  }

  .social-media {
    flex-direction: column;
    align-items: center;
  }

  .social-media a {
    margin: 5px 0;
  }

  .skills-container, .slideshow-container {
    flex-direction: column;
    width: 100%;
  }

  .icon-background {
    width: 80px;
    height: 80px;
  }
}
