/* Skills.css */

.skills-section {
  text-align: center;
  padding: 20px;
  background-color: #1a1a1a;
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.icon-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #333;
  border-radius: 10px;
  color: white;
}

.icon-background p {
  margin-top: 10px;
  font-size: 14px;
}

  /* Skill card animation */
.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }